a{
    text-decoration: none;
    color: aqua;
    background-color: antiquewhite;
    padding: 7px;
    border: 2px;
    border-radius: 10px;
    font-family: cursive;
}
a:hover{
background-color: blue;
color: white;
border: 3px;
font-size: 20px;
}
.class-heading:hover{
    text-decoration: underline;
    color: aqua;
}